<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <hr>

        <!-- <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
              {% endif %}
          </div> -->
          
          <div class="clearfix">
            {% assign cat1 = page.category %}
            {% capture cat %}{{cat1}}{% endcapture %}

            {% for post in site.categories[cat] %}
            {% if post.url == page.url %}
              {% assign post_index0 = forloop.index0 %}
              {% assign post_index1 = forloop.index %}
            {% endif %}
          {% endfor %}

          {% for post in site.categories[cat] %}
            {% if post_index0 == forloop.index %}
              {% assign next_post = post %}
            {% endif %}
            {% if post_index1 == forloop.index0 %}
              {% assign prev_post = post %}
            {% endif %}
          {% endfor %}

            {% if prev_post %}
            <a class="btn btn-primary float-left rounded" href="{{ prev_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
                Post</span></a>
            {% endif %}
            {% if next_post %}
            <a class="btn btn-primary float-right rounded" href="{{ next_post.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
                Post</span> &rarr;</a>
                {% endif %}
          </div>
      </div>
    </div>
  </div>